services:
  db:
    image: postgres:15
    container_name: odoo_db
    restart: always
    environment:
      - POSTGRES_USER=user1
      - POSTGRES_PASSWORD=fazah1103
      - POSTGRES_DB=postgres
      - LANG=en_US.UTF-8
      - LC_ALL=en_US.UTF-8
    volumes:
      - odoo-db-data:/var/lib/postgresql/data
    networks:
      - app_network

  odoo:
    image: odoo:19.0
    container_name: odoo_app
    restart: always
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      - HOST=db
      - USER=user1
      - PASSWORD=fazah1103
      - ADMIN_PASSWORD=AdminG@nt4ng
      - LANG=en_US.UTF-8
      - LC_ALL=en_US.UTF-8
    volumes:
      - odoo-data:/var/lib/odoo
      - ./addons:/mnt/extra-addons
    networks:
      - app_network

volumes:
  odoo-data:
  odoo-db-data:

networks:
  app_network:
    driver: bridge
